<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Молочная продукция</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="header">
    <div class="balance">Баланс: ******</div>
    <div class="auth-buttons">
        <a href="/sign_in" class="button">Sign in</a>
        <a href="/log_in" class="button">Log in</a>
    </div>
</div>
<div class="container">
    <div class="button-container">
        <input type="button" value="Vegetables" class="category-button" onclick='location.href="/main_menu/vegetables"'>
        <input type="button" value="Dairy" class="category-button" onclick='location.href="/main_menu/dairy"'>
        <input type="button" value="Fruits" class="category-button" onclick='location.href="/main_menu/fruits"'>
        <input type="button" value="Bakery" class="category-button" onclick='location.href="/main_menu/bakery"'>
    </div>

</div>
</body>
</html>
